*{ /* mainly text settings here */
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
	color: #ff3737;
}

/* Background of main window */
#window {
	background-color: #2d0000;
}

#outer-box {
	border: 5px solid #ff3737;
	padding: 15px;
}
/* set the colour for the search bar and selected entry */
#entry:selected, #input {
	background-color: #140000;
}

/* add some spacing */
#input, #window, #outer-box {
	margin: 5px;
}
